* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black !important;
}

.game_container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game_heading {
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#game {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game_box {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: black;
    font-size: 14vmin;
    color: white;
    text-shadow: 1px 1px 60px rgb(0, 0, 255);
}

#reset-btn-div {

    text-align: center;
    padding: 30px 0;
}

#reset_game_btn {
    font-size: 20px;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    background-color: black;
    padding: 10px 30px;
    transition: .3s;
}

#reset_game_btn:hover {
    transition: .3s;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: 1px solid red;
    padding: 10px 30px;
}

.hide {
    display: none;
}

#msg-winner {
    text-align: center;
    font-size: 25px;
}