@import "variables";

* {
    margin: 0;
    padding: 0;
}

a {
    color: $color-light;
    text-decoration: none !important;
}

.product_card {
    background-color: $color-light;
    padding: 8px 16px;
    max-height: 600px;
    height: 100%;

    h4 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    }
}

.body_container {
    background-color: $color-light-grey;
}


// Header CSS Start


.head_search_sect {
    background-color: $color-navy-blue;
    color: $color-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company_logo {
    border: 1px solid transparent;

    &:hover {
        border: 1px solid $color-light;
    }
}

.deliver_location {
    display: flex;
    align-items: center;
}

.deliver_location_box {
    border: 1px solid transparent;

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        border: 1px solid $color-light;
    }
}

.search_area_box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    color: $color-grey;
}

.search_select {
    select {
        width: 54px;
        height: 40px;
        text-align: center;
        border: none;
        border-radius: 2px 0 0 2px;
    }
}

.search_bar {
    input {
        width: 1200px;
        height: 40px;
        border: none;

        &:active {
            border: none;
        }
    }
}

.search_btn {
    button {
        width: 46px;
        height: 40px;
        border: none;
        border-radius: 0 2px 2px 0;
    }
}

.lang_box {
    border: 1px solid transparent;


    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        border: 1px solid $color-light;
    }
}

.sign_in_box {
    border: 1px solid transparent;

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        border: 1px solid $color-light;
    }
}

.return_box {
    border: 1px solid transparent;

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        border: 1px solid $color-light;
    }
}

.cart_box {
    border: 1px solid transparent;

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        border: 1px solid $color-light;
    }
}

.lang_country_img {
    width: 20px;

    img {
        width: 100%;
    }
}

.head_nav_sect {
    background-color: $color-dark-blue;
    color: $color-light;
}

.head_nav_ul {
    ul {
        list-style: none;
        padding: 0 10px;
    }

    li {
        display: inline-block;
        padding: 10px;
    }

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }
}

// Header CSS End

// Body CSS Start
.body_content {
    margin: 0 auto;
    max-width: 75%;
    width: 100%;
}

.hero_msg {
    a {
        color: $color-light-blue !important;
    }
}

.hero_cover {
    position: absolute;
}

.product_cards_box {
    position: relative;
    padding-top: 240px;

    img {
        width: 100%;
    }
}

.carousel-control.hero_carousel_control {
    bottom: 300px !important;

    &.left {
        left: -60px;
        background: none;
        color: $color-dark !important;
    }

    &.right {
        right: -60px;
        background: none;
        color: $color-dark !important;
    }
}

.long_card {
    width: 100%;
    overflow-x: scroll;
}

.long_card_img {
    max-width: 200px;
    max-height: 200px;

    img {
        width: 100%;
    }

}

.long_price_card_img {
    max-width: 150px;
    max-height: 150px;
    background-color: $color-light-grey;

    img {
        width: auto;
        height: 100%;
    }
}

// Body CSS End

// Footer CSS Start

.back_to_top_btn {
    background-color: #485769;

    a {
        color: $color-light;

        &:hover {
            color: $color-light;
        }
    }

    &:hover {
        background-color: #63758b;
    }
}

.user_facility_sect {
    background-color: $color-dark-blue;
    color: $color-light;
    padding: 40px 0;
}

.user_facility_ul {
    max-width: 50%;
    margin: 0 auto;
}

.user_facility_options {
    max-width: 30%;
    margin: 0 auto;
}

.footer_navs_box {
    background-color: $color-navy-blue;

    a {
        &:hover {
            text-decoration: underline !important;
            // line-height: 3px
        }
    }
}

.footer_navs {
    max-width: 50%;
    margin: 0 auto;
}